<div class="section header">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <center>
        <h1>Teaching minorities how to code</h1>
        <br>
        <p><strong>DevPupil</strong> connects minority students with developers from top companies and universities for programming lessons.</p>
      </center>
      <br>
      <br>
        <center><a href="/demo" class="btn btn-new">Request a demo for your school</a></center>
        &nbsp;
        <center><a href="/mentor" class="btn btn-mentor">Become a mentor</a></center>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3"></div>
  </div>
</div>

<div class="section features">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>Instant Collaboration</h2>
      <p>The most common method through which we practice technical communication is pair programming. Students and mentors pair program within the code editor simultaneously. With real-time chat, students and mentors can share links to coding resources.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 image">
      <center>
        <%= image_tag('one-to-one.png', :height => 400, alt: 'chat') %>
      </center>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>One to One Instruction</h2>
      <p>All instruction is delivered by one mentor working with one student in a virtual learning environment. Instruction is tailored to each student’s level, building strong student-mentor relationships and allowing for immediate feedback and adjustment within each lesson.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 image">
      <center>
        <%= image_tag('collab.png', :height => 400, alt: 'collab') %>
      </center>
    </div>
  </div>
</div>

<div class="why">
  <div class="container">
    <center>
      <h2>DevPupil is student-centered</h2>
    </center>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <center>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= image_tag('developers-icon.png', :height => 50, alt: 'code') %>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <h4>Teach</h4>
                <p><small>We help students learn how to learn by teaching problem solving through programming.</small></p>
              </div>
            </div>
          </div>
        </div>
      </center>
      <center>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= image_tag('designer-icon.png', :height => 50, alt: 'build') %>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <h4>Build</h4>
                <p><small>Students build compelling open-source projects with the help of our expert mentors.</small></p>
              </div>
            </div>
          </div>
        </div>
      </center>
      <center>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <%= image_tag('video-icon.png', :height => 50, alt: 'grow') %>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <h4>Grow</h4>
                <p><small>Each session is recorded so that students can view their lessons for deeper understanding.</small></p>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>

  <div class="why">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <center><h2>Get started now</h2></center>
        <br>
        <br>
        <center><a href="/demo" class="btn btn-new">Request a demo for your school</a></center>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
  </div>
