<div class="container content">
  <div class="panel user">
    <div class="panel-heading">
      <center><strong>Contact Us</strong></center>
    </div>
    <div class="panel-body">
        <%= form_for @contact do |f| %>
        
        <br>

        <div class="field">
          <%= f.text_field :name, :placeholder => "Your Full Name", required: true %>
        </div>
        
        <br>

        <div class="field">
          <%= f.email_field :email, :placeholder => "Email Address", required: true %>
        </div>
        
        <br>
        
        <div class="field dropdown">
          <%= f.select :subject, [["I have a question about partnership"], ["I'd like my college/university students to become mentors"], ["I want to join the DevPupil Team"], ["I have a testimonial or feedback"]], prompt: "Subject", required: true %>
        </div>
        
        <br>
        
        <div>
          <%= f.text_area :message, as: :text, :placeholder => "Leave your message here.", required: true %>
        </div>
               
        <br>
                
        <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
        </div>
        
        <%= f.submit 'Submit', :class => "btn btn-new" %>
        <% end %>

    <br>
    </div>
  </div> 
</div>


