<div class="container content">
  <div class="panel user">
    <div class="panel-heading">
      <center><strong>Mentor Application</strong></center>
    </div>
    <div class="panel-body">
        <%= form_for @mentor do |f| %>
        
        <br>

        <div class="field">
          <%= f.text_field :name, :placeholder => "Your Full Name", required: true %>
        </div>
        
        <br>
                
        <div class="field">
          <%= f.text_field :school, :placeholder => "School Name", required: true %>
        </div>
        
        <br>

        <div class="field">
          <%= f.email_field :email, :placeholder => "Your School Email Address", required: true %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.text_field :major, :placeholder => "Major", required: true %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.text_field :date, :placeholder => "Graduation Date", required: true %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.text_field :linkedin, :placeholder => "LinkedIn URL", required: false %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.text_field :github, :placeholder => "GitHub URL", required: false %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.text_field :website, :placeholder => "Other website", required: false %>
        </div>
        
        <br>
        
        <div class="field dropdown">
          <%= f.select :source, [["Campus Event"], ["Social Media"], ["Referral"], ["dev/pupil website"], ["Other"]], prompt: "How did you hear about dev/pupil?", required: true %>
        </div>
        
        <br>
        
        <div>
          <%= f.text_area :message, as: :text, :placeholder => "Why are you interested in being a mentor at dev/pupil?", required: true %>
        </div>
               
        <br>
                
        <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
        </div>
        
        <%= f.submit 'Submit', :class => "btn btn-new" %>
        <% end %>

    <br>
    </div>
  </div> 
</div>


